@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: #0779d1;
    --background: 0 0% 100%;
    --foreground: 0 0% 15%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 30%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --dragger: 220 14% 75%; 

    /* Feed Icon Colors */
    --feed-icon-1: 12 76% 61%;
    --feed-icon-2: 173 58% 39%;
    --feed-icon-3: 197 37% 24%;
    --feed-icon-4: 43 74% 66%;
    --feed-icon-5: 27 87% 67%;
    /* --sidebar: #f8f8f7; */
    --sidebar: #f8f8f7;
    --content: #ffffff;
    --hovered: #EBEBEB;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 90%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 80%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --sidebar: #202020;
    --content: #191919;
    --hovered: #333333;
  }
}

.btn {
  @apply px-6 py-2 rounded-md text-sm font-medium transition-colors duration-300 
         bg-secondary text-secondary-foreground 
         hover:bg-secondary/80 
         dark:bg-muted dark:text-foreground 
         dark:hover:bg-muted/70 
         focus:outline-none focus:ring-2 focus:ring-ring;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--hovered);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(199, 199, 199);
  border-radius: 4px;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-content text-foreground;
  }
}